/* rules for bookingstable  print preview */
#bookings_wrapper .customfilter label,
#bookings_wrapper #bdaplonebookings_filter label,
#bookings_wrapper #bdaplonebookings_length label {
    font-weight: bold;
}

#bookings_wrapper .customfilter input,
#bookings_wrapper #bdaplonebookings_filter input,
#bookings_wrapper #bdaplonebookings_length select,
#bookings_wrapper .group_filter select {
    border: none;
    background: transparent;
    margin-left: 3em;
}

#bdaplonebookings_wrapper {
    margin-top: 1em;
    margin-bottom: 2.2em;
}

#bdaplonebookings_length {
    margin-bottom: 0.8em;
}

#bdaplonebookings_length select,
#bdaplonebookings_filter input {
    font-size: 90%;
}

#bdaplonebookings {
    margin-bottom: 1em;
    border: #ddd 1px solid;
}

#bdaplonebookings_wrapper div.group_filter {
    margin-left: 3em;
}

#bdaplonebookings_wrapper div.group_filter,
#bdaplonebookings_wrapper div.date_from_filter,
#bdaplonebookings_wrapper div.date_to_filter {
    float: left;
    margin-right: 3em;
}

#bdaplonebookings thead {
    background-color: #fafafa;
}

#bdaplonebookings th {
    border-right: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
}

#bdaplonebookings th.datarow-actions {
    width: 120px;
}

#bdaplonebookings tr.group_email,
#bdaplonebookings tr.group_buyable {
    background-color: #ddd !important;
}

#bdaplonebookings tr.group_email td p,
#bdaplonebookings tr.group_buyable td p {
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    min-width: 18em;
    width: 18em;
}

#bdaplonebookings tr.group_email span,
#bdaplonebookings tr.group_buyable span {
    min-width: 18em;
    width: 18em;
    float: left;
    margin-left: 7em;
}

#bdaplonebookings td {
    padding: 1px 3px 1px 10px;
    border-right: #ddd 1px solid;
}

#bdaplonebookings a.contenttype-document {
    border: none !important;
}

#bdaplonebookings_paginate {
    display: none;
}
