*.mo
*.pyc
.idea/
/.DS_Store
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
/.settings/
/bin/
/coverage/
/develop-eggs/
/devsrc/
/dist/
/env/
/parts/
/report/
/src/bda.plone.orders.egg-info/
/src/bda/plone/orders/profiles/.DS_Store
/var/
/vpython/
buildout-cache/
htmlcov/
include/
lib/
local/
.coverage

